/* Especifico de About*/

.About {
  padding: 5vh 0;

  position: relative;
  z-index: 1;
}

.About h1 {
  text-align: center;
  margin: 0 2em;
}
.About h1,
.About h2,
.About h3,
.About h4 {
  padding: 1em;
}
.About p {
  text-align: center;
  max-width: 60vw;
  margin: 0 auto;
}

.About p span {
  color: rgb(255, 190, 190);
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.About .about-List {
  margin: 20px auto;
  padding: 2em;
  background-color: var(--darker-color);
  border-radius: 2em;
}
.About .about-List ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.About img {
  width: 200px;
}

@media screen and (max-width: 1200px) {
  .About p {
    text-align: center !important;
    margin-bottom: 20px;
  }
  .About .row {
    flex-direction: column-reverse;
  }

  .About h1 {
    font-size: 2em;
  }
}
@media screen and (max-width: 900px) {
  .About h1 {
    font-size: 1.5em;
  }
  .About h4 {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 650px) {
}
