.Footer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;

  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
.Footer h3 {
  font-size: 20px;
}
.Footer .main-row {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(2, 40vw);
  grid-gap: calc(var(--size) / 6) calc(var(--size) / 2);

  justify-content: center;
  align-content: center;

  grid-auto-flow: row;
  margin-bottom: 50px;
}

.main-row .RRSS {
  display: block;
  width: 100%;
}
.main-row .RRSS img {
  width: 250px;
}
.main-row .RRSS ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}
.main-row .RRSS li {
  display: inline-block;
}
.main-row .RRSS li .fa {
  font-size: 40px;
}
.main-row .contactInfo {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;

  align-items: center;
  align-content: center;
  justify-content: center;
}

.main-row .contactInfo a {
  color: white;
  text-decoration: none;
}
.main-row .contactInfo a:hover {
  cursor: pointer;
}
.main-row .contactInfo h3 {
  transition: all ease-out 200ms;
}

.main-row .contactInfo h3:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1400px) {
  .Footer .main-row {
    grid-template-columns: repeat(1, 90vw);
  }
  .main-row .RRSS {
    margin-bottom: 50px;
  }
  .main-row .contactInfo {
    padding-right: 0;
  }
}
@media screen and (max-width: 800px) {
  .Footer .main-row {
    width: 80vw;
  }
  .Footer .main-row h1 {
    font-size: 25px;
  }
  .main-row .contactInfo .fa {
    font-size: 13px !important;
    float: inline-start;
  }
  .Footer .main-row h3 {
    font-size: 15px;
  }
}
