@import "./Data.css";
@import "./About.css";
@import "./Speakers.css";
@import "./Sponsors.css";
@import "./Tickets.css";

.centered {
  align-items: center;
  align-content: center;
  justify-content: center;
}
.thin-Section {
  width: 100vw;
  max-width: 100%;
  min-height: 100px;
  display: flex;
  flex: 1;
  flex-direction: row;
}
.Section {
  width: 100vw;
  max-width: 100%;
  max-width: 100%;
  min-height: 200px;

  box-shadow: -1px -1px 23px 8px rgba(0, 0, 0, 0.67) inset;
  -webkit-box-shadow: -1px -1px 23px 8px rgba(0, 0, 0, 0.67) inset;
  -moz-box-shadow: -1px -1px 23px 8px rgba(0, 0, 0, 0.67) inset;

  padding: 10em 0;

  background-position: center;
  background-size: cover;
  text-align: center;
}

.Section.white {
  background-image: url("../../images/sections-background/white-background.jpg");
}

.Section.orange {
  background-image: url("../../images/sections-background/salmorejotech-fondo.svg");
  color: white;
}

.col {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.colS {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 20vw;
}
.colM {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 50vw;
}
.row {
  display: flex;
  flex: 1;
  flex-direction: row;
}

@media screen and (max-width: 1200px) {
  .colM {
    width: 60vw;
    max-width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .thin-Section {
    flex-direction: column;
  }
  .col {
    margin: 20px;
    width: 100vw;
    max-width: 100%;
  }
}

@media screen and (max-width: 650px) {
}
