@import "./Data.css";
@import "./About.css";

.centered {
  align-items: center;
  align-content: center;
  justify-content: center;
}
.thin-Section {
  width: 100vw;
  max-width: 100%;
  min-height: 100px;
  display: flex;
  flex: 1;
  flex-direction: row;
}
.Section {
  width: 100vw;
  max-width: 100%;
  max-width: 100%;
  min-height: 200px;
}

.col {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.colS {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 20vw;
}
.colM {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 50vw;
}
.row {
  display: flex;
  flex: 1;
  flex-direction: row;
}

@media screen and (max-width: 1200px) {
  .colM {
    width: 60vw;
    max-width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .thin-Section {
    flex-direction: column;
  }
  .col {
    margin: 20px;
    width: 100vw;
    max-width: 100%;
  }
}

@media screen and (max-width: 650px) {
}
