.Speakers {
  display: flex;
  flex-direction: column;
}

.Speakers .grid {
  display: grid;
  margin: auto;
  margin-top: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 2.5em;

  justify-content: center;
  align-content: center;

  grid-auto-flow: row;
}

.Speakers .speakerCard {
  --height: 550px;
  --width: 412.5px;

  height: var(--height);
  width: var(--width);
  border-radius: 10px;
  background-image: url("../../images/sections-background/salmorejotech-fondo.svg");
  background-size: cover;
  display: block;
  overflow: hidden;

  box-shadow: -1px 6px 16px 1px rgba(0, 0, 0, 0.68);
  -webkit-box-shadow: -1px 6px 16px 1px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: -1px 6px 16px 1px rgba(0, 0, 0, 0.68);
}

.speakerCard .Photo {
  width: var(--width);
  height: calc(var(--height) / 1.5);
  position: inherit;
  z-index: 1;
  overflow: hidden;
}
.speakerCard img {
  width: var(--width);
  transition: all ease-out 100ms;
}

.speakerCard img:hover {
  transform: scale(1.25);
  filter: brightness(1.05);
}

.speakerCard .Label {
  padding: 1em;
  color: white;
  font-size: 20px;
}

.speakerCard .RRSS ul {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}
.speakerCard .RRSS li {
  display: inline-block;
}
@media screen and (max-width: 1400px) {
  .Speakers .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
@media screen and (max-width: 900px) {
  .Speakers .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(11, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .Speakers .speakerCard {
    --height: 400px;
    --width: 300px;
  }

  .speakerCard .Label {
    font-size: 12px;
  }
}
