.Sponsors {
  display: flex;
  flex-direction: column;
}
.Sponsors .grid {
  --size: 250px;

  display: grid;
  margin: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: calc(var(--size) / 6) calc(var(--size) / 2);

  justify-content: center;
  align-content: center;

  grid-auto-flow: row;
}

.grid .sponsor {
  width: var(--size);
  height: var(--size);
  transition: all ease-out 50ms;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.sponsor img {
  max-width: var(--size);
  max-height: var(--size);
  min-width: var(--size);
}

.grid .sponsor:hover {
  transform: scale(1.1) translateY(-15px);
}
