@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "./modules/Navbar.css";
@import "./modules/Hero.css";
@import "./modules/Sections.css";
@import "./typingEffect.css";

:root {
  --basic-color: #eee;
  --darker-color: rgba(0, 0, 0, 0.2);
  --much-darker-color: rgba(0, 0, 0, 0.8);
  --primary-color: #ffbd33;
  color-scheme: normal;
}

html,
body {
  scroll-behavior: smooth;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: var(--basic-color);
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

p,
span,
button,
a,
li {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1em;
}

.nodisplay {
  display: none !important;
}
.material-icons-round {
  font-weight: 900;
}
.text-green {
  color: greenyellow;
}

.glass-card {
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.text-left {
  text-align: left !important;
}

.setoff-text {
  color: white;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.setoff-text.black {
  color: black;
  text-shadow: 0 1px 0 #888, 0 2px 0 #8b8b8b, 0 3px 0 #999, 0 4px 0 #9b9b9b,
    0 5px 0 #aaa, 0 6px 1px rgba(150, 150, 150, 0.1),
    0 0 5px rgba(150, 150, 150, 0.1), 0 1px 3px rgba(150, 150, 150, 0.3),
    0 3px 5px rgba(150, 150, 150, 0.2), 0 5px 10px rgba(150, 150, 150, 0.25),
    0 10px 10px rgba(150, 150, 150, 0.2), 0 20px 20px rgba(150, 150, 150, 0.15);
}
.fa {
  color: white;
  padding: 5px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  transition: all ease-out 200ms;
}

.fa:hover {
  transform: scale(1.15);
}

.flip {
  rotate: 180deg;
}
@media screen and (max-width: 800px) {
  body {
    font-size: 20px;
  }
}
