.typing::after {
  content: "";

  display: inline-block;
  height: 1em;
  width: 5px;
  background-color: white;

  animation: blink 1s infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 100;
  }
  60% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 100;
  }
  60% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
